@import "../vars.scss";
@import "../mixins.scss";

.popular-page {
  width: calc(100vw - 50px);
  margin: 0 auto;
  padding-left: 4%;
  min-height: 100vh;
  
  &__title {
    font-weight: 500;
    color: $white;
    font-size: 3rem;
    margin: 0;
    padding-top: 4vh;
    padding-left: 3vw;
  }

  &__content-container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
      margin-left: 3%;
      margin-top: 2.8%;
      padding-right: 8%;
      gap: 2vw;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }

  &__content-item {
    width: 100%;
    height: 77vh;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  }


 &__movie-image {
transition: 0.7s ease-in-out;
height: 50vh;
min-width: 190px;
min-height: 170px;
object-fit: cover;
border-radius: 20px;

 &:hover {
  box-shadow: 0 0 10px 2px $accent-color;
  width: 23vw;
  height: 52vh;
 }

@media (max-width: 800px) {
  gap: 10vw;
  justify-content: space-evenly;
}
}

&__movie-info {
font-size: 1.5rem;
margin-top: 2%;
color: $white;
font-weight: 500;
transition: 0.5s all ease-in-out;
&:hover {
  color: $accent-color;
  font-size: 1.7rem;
  text-shadow: 0 0 10px 3px transparent $accent-color;
}

  }

  &__movie-genres {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2%;
    color: $white;
    transition: 0.5s all ease-in-out;
&:hover {
  color: $accent-color;
  font-size: 1.2rem;
  text-shadow: 0 0 10px 3px transparent $accent-color;
}

  }
  &__watch-button {
      width: 65%;
      display: inline-block;
      padding: 5% 15%;
      background-color: $accent-color;
      color: $white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      border-radius: 27px;
  
      @include hover-effect($search-hover-color);
    }
  }

.arrow-next {
  font-size: 10.9vw;
  position: absolute;
  top: 18.1vh;
  right: 0;
  color: lightgray;
  opacity: 0.4;
  margin-right: -1.1vw;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  &:hover {
    color: $accent-color;
    filter: drop-shadow(0 0 50px rgb(247, 162, 4));
    font-size: 12.5vw;
   }
@media (max-width: 800px) {
  font-size: 17.5vw;
}
}


.arrow-prev {
  font-size: 6.8vw;
  position: absolute;
  top: 19vh;
  left: 0;
  margin-left: -2vw;
  color: lightgray;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  &:hover {
    color: $accent-color;
    filter: drop-shadow(0 0 35px rgb(247, 162, 4));
    font-size: 8.1vw;
   }
  @media (max-width: 800px) {
    font-size: 15.5vw;
  }
  }



