@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

// здесь шрифты и сброс настроек

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scroll-behavior: smooth;
}

html:hover {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

body {
  font-family: $main-font;
  font-size: 16px;
  background: $background-color-dark;
  color: $white;
  background-size: cover;
  background-repeat: no-repeat;
}
.toggle {
  background: linear-gradient(135deg, #ffffff, #fcfbe0a3, #f7f7f7);
  color: $primary-color;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.container {
  width: calc(100vw - 50px);
  margin: 0 auto;
  padding-left: 50px;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

//Form

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
